.hamburger {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
}

.hamburger-line {
    background-color: white;
    height: 4px;
    width: 30px;
    /* margin: 6px 0;  */
    /* margin-bottom: 6px; */
    margin-bottom: 0px;
    transition: margin 0.4s ease-in-out, opacity 0.4s ease-in-out;  /* Animate margin */
}

#line-1, #line-2 {
    margin-bottom: 6px;
}

.hamburger-line.expand {
    opacity: 0.5;
}

#line-1.expand, #line-2.expand {
    margin-bottom: 20px;
}

.header {
    padding-top: 15px;
    padding-bottom: 0px;
    /* padding-left: 20px; */
    text-align: center;
    background: #0077b5;
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header h1 {
    text-align: left;
    font-size: 36px;
    /* margin: 5px 0; */
    /* margin-top: 5px; */
    margin-bottom: 5px;
    padding-left: 20px;
}

.header p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 20px;
}

@media (max-width: 320px) {
    .header h1, .header p {
        text-align: center;
        padding-left: 0px;
    }
    .hamburger {
        position: static;  /* Reset to static positioning */
        display: flex;  /* Use flexbox to center the hamburger lines */
        justify-content: center;  /* Center align */
        padding-top: 20px;
        margin-bottom: 0px;
    }
}

.header ul {
    list-style-type: none;
    /* padding: 0; */
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /* padding: 0; */
    margin: 0;
    display: inline-block;
    overflow: hidden;
    /* display: none; */
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* After menu click */
.header ul.active {
    max-height: 600px; /* Adjust based on your needs */
    opacity: 1;
}

.header li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.header li a:hover {
    /* Darker blue for hover */
    /* background-color: #005a8c; */
    color: #d1aa00;
}

.header li:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(to right, transparent, white, transparent);
    /* width: 300px; */
    /* margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px); */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* width: calc(100vw - 40px); */
    width: calc(70vw);
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    /* background: #0077b5;*/
    background: #c9c9c9;
    color: black;
    bottom: 0;
    /* left: 0;
    width: 100%;  /* Full width */
    /* box-sizing: border-box; */
}

.footer-icon {
    margin: 0 10px;  /* Horizontal spacing */
}

.footer-icon:hover {
  text-decoration: none;  /* Remove underline */
}

.icon-container {
    display: block;
}

.footer-icon {
    margin: 0 8px;
    text-decoration: none;
}

.copyright {
    font-size: 12px;
    display: block;
    margin-top: 10px;
}

/* Gray horizontal line */
.section-divider {
    border: 0;
    height: 1px;
    /* background: linear-gradient(to right, transparent, #ccc, transparent); */
    background-color: #ccc;
    margin: 20px 0;
}

/* Gray horizontal line */
.subsection-divider {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc, transparent);
    width: 200px;
    margin: 20px auto;
}

#summary {
    /* This is set dynamically */
    margin-top: 0px;
}

.content-section {
    margin: 20px 20px;  /* Vertical and horizontal margins */
}

.content-section h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.content-section h3 {
    font-size: 18px;
}

.content-section h4 {
    font-size: 15px;
}

/* Subheading style */
.content-section .subheading {
    font-size: 18px;
    color: #5A6B7C;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

p {
    font-size: 14px;
}

a {
    color: #d1aa00;
    font-size: 14px;
    text-decoration: underline;
    /* text-decoration-style: dotted; */
    /* text-underline-offset: 0.4em; */
}

a:hover {
    color: #d1aa00;
    text-decoration: none;
    /* text-decoration-style: none; */
}

blockquote {
    margin: 20px;
    /* padding: 10px; */
    padding-left: 10px;
    border-left: 2px solid #ccc;
    font-style: italic;
    font-size: 14px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* min-width: 300px; */
}

/* Remove left padding for the first column in each row */
.column:nth-child(odd) {
    padding-left: 0;
}

/* Remove right padding for the second column in each row */
.column:nth-child(even) {
    padding-right: 0;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }
    .column {
        min-width: 100%;
        padding: 0;
    }
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.responsive-image {
    width: 60%;
    height: auto;
}

